p {
    color: red;
}

a {
    color: blue;
}

h1 {	
	color: #eeeeee;
    background-color: #1144aa;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #4575d4;
}

body {
	font-family: "Comic Sans MS", helvetica, sans-serif;
    font-size: 14px;
    color: navy;
    background-color: #eeeeee;
}

h2 {
	color: #eeeeee;
	background-color: #6b8fd4;
}